:root {
    --NM1: #1A1A1A;
    --NM2: #242424;
    --NM3: #2E2E2E;
    --NM4: #383838;
    --NM5: #444444;
    --NM6: #5C5C5C;
    --NM7: #787878;
    --F-Onest: 'Onest';
    --F-Rubik: 'Rubik';
    --F-Ubuntu: 'Ubuntu';
    --F-UbuntuTitlingBold: 'Ubuntu Titling Bold';
    --F-OnelySans: 'OnelySans';
}

* {
    user-select: none;
    cursor: auto;
    box-sizing: border-box;
}

body {
    background-color: var(--NM1);
    color: white;
    font-family: var(--F-Ubuntu);
}

/* Containers */

.container {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0.5%;
}

/* Navigation Menu */

.menu {
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    gap: 2.5%;
    background-color: var(--NM2);
    padding: 0.5%;
}

.menu i {
    padding: 0.5%;
    transition: 0.25s ease-in;
}

.menu i:hover {
    color: #bb2222;
}

.rightside {
    display: flex;
    gap: 2.5%; /* Adjust to control spacing between rightside icons */
    margin-left: auto; /* Pushes the .rightside div to the far right */
}

/* Particles */

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

/* Index.html */

.subcontainer {
    display: block;
    border: 1px solid black;
    border-radius: 10px;
    background-color: var(--NM2);
    padding: 2% 1%;
    margin: 1%;
}

.sub2container {
    display: block;
    border: 1px solid black;
    border-radius: 10px;
    background-color: var(--NM3);
    padding: 2% 1%;
    margin: 1%;
}

.sub3container {
    display: block;
    border: 1px solid black;
    border-radius: 10px;
    background-color: var(--NM4);
    padding: 2% 1%;
    margin: 1%;
}

.title {
    font-weight: 500;
    font-size: 180%;
    margin: 1%;
}

.title2 {
    font-weight: 600;
    font-size: 150%;
    margin: 1%;
}

.title3 {
    font-weight: 400;
    font-size: 130%;
    margin: 1%;
}

.title-bmc {
    margin: 0 auto;
    text-align: center;
    display: block;
}

.boldtxt {
    font-weight: 700;
}

.addLMargin {
    margin-left: 2%;
}

.makeBlock {
    display: block;
}

.noBgC {
    background-color: transparent;
    border: 0px;
}

.rBtn {
    display: block;
    margin-left: auto;
    margin-right: 2%;
}

.rBtn-X {
    border: 1px solid black;
    border-radius: 10px;
    background-color: var(--NM5);
    padding: 1% 2%;
    color: white;
    font-weight: 800;
}

.rBtn2 {
    display: block;
    margin-left: auto;
    margin-right: 2%;
    margin-top: 1%;
    width: 20%;
}

/* Benefits.html */

.listedBenefits {
    margin-top: 1%;
}

.listedBenefits::marker {
    content: none;
}

.listedBenefits .badge {
    padding-right: 1%;
}

.benefitIconShow {
    margin-left: 0.5%;
    margin-right: 0.5%;
    color: white
}

.benefitIconShow2 {
    margin-left: 0.25%;
    margin-right: 0.25%;
    color: white;

}

/* rules.html */

.listedRules {
    margin-top: 1%;
}

.listedRules::marker {
    content: none;
}

.listedRules .badge {
    padding-right: 1%;
}

/* rules.html */
.iframecontainer {
    display: block;
    border: 1px solid black;
    border-radius: 10px;
    background-color: var(--NM2);
    padding: 2% 1%;
    margin: 1%;
}